.main{
    display: flex;
    margin-top: 80px;
    justify-content: space-around
}

.nav{
    position: fixed;
    top: 0;
    width: 100%
}

.circles{
     position: fixed;
    top: 80px;
    left: 100px;
}

svg{
    display: flex;
    justify-content: center
}

html{
    font-family: 'Merriweather', serif;

}

.right{
    box-sizing: border-box;
    padding:10px;
    /* width: 40%; */
    justify-content: center;
    margin-left: 600px;
    width: 600px
}

#donut{
    height: fit-content
}

.sector-text{
    padding-top: 70px
}

.sector-description, .description{
    font-size: 14px
}

.company-head{
    display: flex;
    justify-content: space-between
}

.company-info{
    display: flex;
    justify-content: space-between
}

.sector, .company{
    margin-top: 0;
    font-size: 30px
}


.header{
    display: block;
    text-align: center;
    list-style: none;
    position: fixed;
    top: 0;
    justify-content: center;
    width: 100%;
    z-index: 2;
    background-color: white
}
.header h1 {
    margin-bottom: 0;
    margin-top: 5px;
    width:80%;
    border-bottom: 1px solid lightgray;
    margin-left: 10%
}

#about-btn{
    border: none
}

#about-btn:hover{
    cursor: pointer;
}



.chart-container{
    display: none
}

.show{
    display: block
}

.link{
    display: flex;
    justify-content: center
}
.header img {
    width:30px;
    height: 30px;

}
.logo{
    
}