.main{
    display: flex;
    justify-content: space-around
}
svg{
    display: flex;
    justify-content: center
}
html{
    font-family: 'Playfair Display', serif;
}
.right{
    box-sizing: border-box;
    padding:10px;
    width: 40%;
    justify-content: center
}
#donut{
    height: fit-content
}